.background {
  background-color: #325343;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 876px;
  height: 700px;
  border-radius: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: #094819;
  margin-bottom: 15px;
  font-size: 25px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input {
  margin: 10px 0;
  width: 610px;
  height: 55.16px;
  border-radius: 10px;
  border: 2px solid #094819;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 18px;
  color: #094819;
}

.container button {
  margin: 10px 0;
  width: 610px;
  height: 55.16px;
  border-radius: 50px;
  border: none;
  background-color: #a6de9b;
  color: #094819;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.container button.google-btn {
  background-color: #a6de9b;
  color: #094819;
}

.footer {
  display: flex;
  justify-content: center;
  width: 610px;
  margin-top: 10px;
  font-size: 15px;
  color: #094819;
  font-weight: bold;
}

.footer a {
  text-decoration: none;
  color: #094819;
}

.footer a:hover {
  text-decoration: underline;
}

.or-line .or-text {
  margin: 0 24px;
  color: #094819;
  font-weight: bold;
}

