.Glace {
  background-color: #325343;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 85px;
  color: white;
  font-size: 32px;
  font-family: "Lato";
  font-weight: 500;
  display: flex;
  padding: 50px;
}
.greenflag {
  background-color: #bde8b5;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 82px;
  margin-left: 82px;
  margin-top: 85px;
  border-radius: 20px;
  column-gap: 20px;
}
.darkgreen {
  width: 38px;
  height: 118px;
  background-color: #094819;
  border-radius: 20px;
}
.greenflagparagraph {
  font-size: 32px;
  color: black;
  font-weight: 500;
}
.paragraphRead11 li {
  list-style: disc;
}
